<style type="text/css">
/*
 * Copyright 2019 Marc Alphonsus <marcalph@protonmail.com>
 * inspired by Christophe-Marie Duquesne <chmd@chmd.fr>
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

hr {
    height:0px;
    border-radius: 2px;
    color: teal;
    color: $color;
    border: 2px solid currentColor;
    width: 60%;
  }

h1 {
    font-size: 55px;
    color: #5b5b5b;
    /* text-align:center; */
    margin-bottom:15px;
}

h2 {
    color: #2a5091;
}

h3 {
    color: #7e2a91;
}

/* There is a bar just before each category */
h3:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    margin-top:0%;
    width: 16%;
    height: 5px;
    background-color: #7e2a91;
}

img
{
    width:40px;
}

/* Definitions */
dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 15%;
    text-align: right;
}
dd {
    flex-basis: 70%;
}

p {
    margin-top:0;
    margin-bottom:7px;
}

blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #891389;
}
a:hover, a:active {
    background-color: #891389;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

table {
    margin:auto;
    width: 85%;
}
</style>