<style type="text/css">
/*
 * Copyright 2019 Marc Alphonsus <marcalph@protonmail.com>
 * inspired by Christophe-Marie Duquesne <chmd@chmd.fr>
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */
a img {
    width:15px;
    margin-left:1%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

hr {
    height:0px;
    border-radius: 1px;
    color: #2a5091;
    border: 1px solid currentColor;
    width: 100%;
  }

h1 {
    font-size: 55px;
    color: #5b5b5b;
    /* text-align:center; */
}

blockquote h2{
    color: #626262;
    text-align: center;
    font-size:2em;
}

h2 {
    color: #2a5091;
    text-align: center;
}

h3 {
    color: #2a5091;
    text-align: center;
    margin-top: 0px;
}

h5 {
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;

}


/* There is a bar just before each category */
/* h3:after {
    content: "";
    display: inline-block;
    margin-left:2%;
    margin-top:0%;
    width: 50%;
    border-radius: 2px;
    border: 2px solid currentColor;
    background-color: #2a5091;
}

h3:before {
    content: "";
    display: inline-block;
    margin-right:2%;
    margin-top:0%;
    width: 50%;
    border-radius: 2px;
    border: 2px solid currentColor;
    background-color: #2a5091; */
}

img
{
    width:40px;
}

/* Definitions */
dl {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}
dt {
    margin-top:10px;
    flex-basis: 15%;
    text-align: right;
}
dd {
    flex-basis: 70%;
    margin-top:10px;

}
ul {
    margin-bottom: 0;
}
p {
    margin:auto;
    margin-top:5px;
}

blockquote {
    text-align: justify;
    color: #484848;
}

/* Links */
a {
    text-decoration: underline;
    color: #0aa6be;
}

a:hover, a:active {
    background-color: #133189;
    color: #FFFFFF;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #333;
}

table {
    margin:auto;
    width: 85%;
}
</style>