<style type="text/css">
/*
 * Copyright 2019 Marc Alphonsus <marcalph@protonmail.com>
 * inspired by Christophe-Marie Duquesne <chmd@chmd.fr>
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */
a img {
    width:15px;
    margin-left:1%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

hr {
    height:0px;
    border-radius: 1px;
    color: #2a5091;
    border: 1px solid currentColor;
    width: 100%;
    margin-top:3%
  }

h1 {
    font-size: 55px;
    color: #5b5b5b;
    /* text-align:center; */
}

blockquote{
    color: #626262;
    text-align: center;
    font-size:1em;
    margin:auto;
}

h6{
    color: #626262;
    text-align: center;
    font-size:1em;
    margin:auto;
}

blockquote h2{
    color: #626262;
    text-align: center;
    font-size:2em;
}

h2 {
    color: #2a5091;
    text-align: center;
}

h3 {
    color: #2a5091;
    text-align: center;
    margin-top: 0px;
}

h4 {
    font-size:1.2em;
    margin-top:5%
}

h5 {
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;

}


img
{
    width:18px;
}

/* Definitions */
dl {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}
dt {
    margin-top:10px;
    flex-basis: 15%;
    text-align: right;
}
dd {
    flex-basis: 70%;
    margin-top:10px;

}
ul {
    margin-bottom: 0;
}
p {
    margin:auto;
    margin-top:5px;
}



/* Links */
a {
    text-decoration: underline;
    color: #2a5091;
}

a:hover, a:active {
    background-color: #2a5091;
    color: #FFFFFF;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #333;
}


code {
    color: #b47921;
}

em {
    font-style: normal;
    font-size: 0.9em;
}

li strong {
    font-style: normal;
    font-size: 0.9em;
}



table {
    margin:auto;
    width: 90%;
}

td{
    text-align: justify;
}


</style>